@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&family=Cairo:wght@600&display=swap');

:root {--bs-font-sans-serif:"Noto Sans KR";}
*{margin:0 auto; padding:0;}
.mybg {
  height: 100vh;

  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1511208687438-2c5a5abb810c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8JUVDJTk1JUJDJUVDJTgzJTlEfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  background-position: center;
  background-size: cover;

  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mytitle {
  color: white;
  text-align: center;
}

.temp {
  padding-top: 20px;
}

.mypost {
  position: relative;
  width: 35%;
  min-width: 300px;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.mypost>button {
  margin-top: 15px;
}

.mycards {
  width: 35%;
  min-width: 300px;
}

.mycards>.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  background-color: rgba(251, 251, 251, 0.75) !important;
}

.card {
  background-color: rgba(251, 251, 251, 0.75);
}

.card-text {
  min-width: 60%;
}
        